.page-view {
    width   : 100%;
    height  : 100%;
    position: absolute;
}

.page-view .body {
    overflow-y: auto;
    overflow-x: hidden;
    height    : 100%;
}

.page-view .body::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

.page-view .body::-webkit-scrollbar {
    width: 4px;
}

.page-view .body::-webkit-scrollbar-thumb {
    background: #999;
}

.page-view .header {
    position: absolute;
    top     : 0px;
    width   : 100%;
}

.page-view .footer {
    position: absolute;
    bottom  : 0px;
    width   : 100%;
    margin  : 0;
}