$hd : 1;
.page-view {
    li.selected {
        border: solid 1px blue;
    }
}

.component-panel {
    .empty {
        text-align: center;
        width     : 100%;
        border    : solid 1px #cccccc;
    }
}

.editor-panel {
    label {
        padding: 0;
    }
}

.btn button {
    width: unset;
}