$hd : 1;
@import "../../../node_modules/taro-ui/dist/style/index.scss";


.page-view {
    li.selected {
        border: solid 1px blue;
    }
}

.component-panel {
    .empty {
        text-align: center;
        width     : 100%;
        border    : solid 1px #cccccc;
    }
}

.editor-panel {
    label {
        padding: 0;
    }
}