$hd : 1;
@import "../../../node_modules/taro-ui/dist/style/index.scss";


.page-view {

    width : 100%;
    height: 100%;

    .body {
        height    : 100%;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar-track-piece {
            background-color: #fff;
        }

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: #999;
        }

        li {
            list-style: none;

            &.selected {
                border: solid 1px blue;
            }
        }

        .empty {
            padding-top: 100px;
        }
    }

    .header {
        position: absolute;
        top     : 0px;
        width   : 100%;
    }

    .footer {
        position: absolute;
        bottom  : 0px;
        width   : 100%;
    }
}

.component-panel {
    .empty {
        text-align: center;
        width     : 100%;
        border    : solid 1px #cccccc;
    }
}