.component-panel {
    display      : flex;
    margin-bottom: 10px;
    margin-top   : 10px;

    li {
        border      : solid 1px rgb(204, 204, 204);
        width       : 80px;
        height      : 80px;
        margin-right: 10px;
        text-align  : center;
        z-index     : 200;
    }
}

.modal-dialog {
    .modal-content {
        .modal-footer {

            button.btn,
            button.close {
                width: unset;
            }
        }
    }
}

//=====================================================
.admin-page .editor-panel {

    width     : 100%;
    border    : 1px solid #cccccc;
    background: #f5f5f5;

    @label-width: 80px;

    .name {
        width      : @label-width;
        padding-top: 6px;
        font-weight: bold;
    }

    .control {
        // width       :~"calc(100% - @{label-width})";
        // padding-left: unset;
    }

    .image-cover {
        border: solid 1px #cccccc;
    }

    .empty {
        padding-top   : 100px;
        padding-bottom: 100px;
    }

    .panel {
        border               : none;
        -webkit-box-shadow   : none;
        box-shadow           : none;
        background           : unset;
        // max-width         : 600px;
    }
}

//=====================================================

:focus {
    outline     : none;
    border-color: unset;
    box-shadow  : unset;
}

a {
    color: inherit;
}

button.btn {
    width: unset;
}

.page-view {
    li.selected {
        border: solid 1px blue;
    }
}

.component-panel {
    .empty {
        text-align: center;
        width     : 100%;
        border    : solid 1px #cccccc;
    }
}

.editor-panel {
    label {
        padding: 0;
    }
}

.btn button {
    width: unset;
}